<div class="row justify-content-center mb-3">
  <div class="col-md-8 col-lg-6">
    <div class="mx-4 p-4">
      <%= form_with(model: resource, as: resource_name, url: session_path(resource_name), id: "user-sign-in", local: true) do |f| %>
        <div class="<%= "mb-3" unless devise_mapping.confirmable? %>">
          <%= f.label :email %>
          <%= f.email_field :email, id: "user_email", autocomplete: "username", autofocus: true, required: "required", class: "form-control", class_for_error: "is-invalid" %>
          <%= f.error_message :email, class: "invalid-feedback" %>
          <%- if devise_mapping.confirmable? %>
            <div class="form-text text-end">
              <small>
                <%= link_to t(".didn_t_receive_confirmation_instructions"), new_user_confirmation_path %>
              </small>
            </div>
          <% end -%>
        </div>

        <div class="<%= "mb-3" unless devise_mapping.recoverable? %>">
          <%= f.label :password %>
          <%= f.password_field :password, id: "user_password", autocomplete: "current-password", required: "required", class: "form-control", class_for_error: "is-invalid" %>
          <%= f.error_message :password, class: "invalid-feedback" %>
          <%- if devise_mapping.recoverable? %>
            <div class="form-text text-end">
              <small>
                <%= link_to t(".forgot_your_password"), new_user_password_path(resource_name) %>
              </small>
            </div>
          <% end %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-3">
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          </div>
        <% end %>

        <div class="d-grid gap-2 mb-3">
          <%= f.submit t(".submit"), class: "btn btn-primary" %>
        </div>

        <%- if devise_mapping.registerable? %>
          <div class="form-text text-center">
            Don't have an account yet? <%= link_to t(".sign_up"), new_registration_path(resource_name) %>
          </div>
        <% end %>
      <% end %>
    </div>

    <hr />

    <%= render "users/_shared/3rd_sign_in" %>
  </div>
</div>
