<h2>
  <%= t(".section.email.title") %>
</h2>

<p class="lead">
  <%= t(".section.email.description") %>
</p>

<%= form_with(model: @user, url: account_profile_path, html: {method: :put}, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :email %>
    <%= f.email_field :email, id: "user_email", autofocus: true, required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :email, class: "invalid-feedback" %>
  </div>

  <div class="d-grid gap-2 mb-3">
    <%= f.submit t(".form.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
