<%- back_path ||= dashboard_meta_prompts_path -%>
<%= form_with(model: [:dashboard, meta_prompt], local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :name, class: "invalid-feedback" %>
  </div>

  <div class="mb-3">
    <%= f.label :sd_model_name %>
    <%= f.select :sd_model_name, Constants::SUPPORTED_SD_MODELS_FOR_SELECT, { include_blank: false }, class: "form-select", class_for_error: "is-invalid" %>
    <%= f.error_message :sd_model_name, class: "invalid-feedback" %>
  </div>

  <div class="mb-3">
    <%= f.label :prompt %>
    <%= f.text_area :prompt, required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :prompt, class: "invalid-feedback" %>
  </div>

  <div class="mb-3">
    <%= f.label :negative_prompt %>
    <%= f.text_area :negative_prompt, class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :negative_prompt, class: "invalid-feedback" %>
  </div>

  <div class="mb-3">
    <%= f.label :sampler_name %>
    <%= f.select :sampler_name, Constants::SUPPORTED_SAMPLER_NAMES, { include_blank: false }, class: "form-select", class_for_error: "is-invalid" %>
    <%= f.error_message :sampler_name, class: "invalid-feedback" %>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :width %>
      <%= f.number_field :width, step: 1, min: Constants::WIDTH_RANGE.begin, max: Constants::WIDTH_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :width, class: "invalid-feedback" %>
    </div>
    <div class="col">
      <%= f.label :height %>
      <%= f.number_field :height, step: 1, min: Constants::HEIGHT_RANGE.begin, max: Constants::HEIGHT_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :height, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :min_steps %>
      <%= f.number_field :min_steps, step: 1, min: Constants::STEP_RANGE.begin, max: Constants::STEP_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :min_steps, class: "invalid-feedback" %>
    </div>
    <div class="col">
      <%= f.label :max_steps %>
      <%= f.number_field :max_steps, step: 1, min: Constants::STEP_RANGE.begin, max: Constants::STEP_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :max_steps, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :min_cfg_scale %>
      <%= f.number_field :min_cfg_scale, step: 0.1, min: Constants::CFG_SCALE_RANGE.begin, max: Constants::CFG_SCALE_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :min_cfg_scale, class: "invalid-feedback" %>
    </div>
    <div class="col">
      <%= f.label :max_cfg_scale %>
      <%= f.number_field :max_cfg_scale, step: 0.1, min: Constants::CFG_SCALE_RANGE.begin, max: Constants::CFG_SCALE_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :max_cfg_scale, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :min_clip_skip %>
      <%= f.number_field :min_clip_skip, step: 1, min: Constants::CLIP_SKIP_RANGE.begin, max: Constants::CLIP_SKIP_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :min_clip_skip, class: "invalid-feedback" %>
    </div>
    <div class="col">
      <%= f.label :max_clip_skip %>
      <%= f.number_field :max_clip_skip, step: 1, min: Constants::CLIP_SKIP_RANGE.begin, max: Constants::CLIP_SKIP_RANGE.end, required: "required", class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :max_clip_skip, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <%= f.check_box :hires_fix, class: "form-check-input" %>
      <%= f.label :hires_fix, class: "form-check-label" %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :hires_fix_upscaler_name %>
    <%= f.select :hires_fix_upscaler_name, Constants::SUPPORTED_HIRES_UPSCALER_NAMES, { include_blank: false }, class: "form-select", class_for_error: "is-invalid" %>
    <%= f.error_message :hires_fix_upscaler_name, class: "invalid-feedback" %>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :hires_fix_min_upscale %>
      <%= f.number_field :hires_fix_min_upscale, step: 0.05, min: Constants::HIRES_FIX_UPSCALE_RANGE.begin, max: Constants::HIRES_FIX_UPSCALE_RANGE.end, class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :hires_fix_min_upscale, class: "invalid-feedback" %>
    </div>
    <div class="col">
      <%= f.label :hires_fix_max_upscale %>
      <%= f.number_field :hires_fix_max_upscale, step: 0.05, min: Constants::HIRES_FIX_UPSCALE_RANGE.begin, max: Constants::HIRES_FIX_UPSCALE_RANGE.end, class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :hires_fix_max_upscale, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :hires_fix_min_steps %>
      <%= f.number_field :hires_fix_min_steps, step: 1, min: Constants::HIRES_FIX_STEPS_RANGE.begin, max: Constants::HIRES_FIX_STEPS_RANGE.end, class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :hires_fix_min_steps, class: "invalid-feedback" %>
    </div>
    <div class="col">
      <%= f.label :hires_fix_max_steps %>
      <%= f.number_field :hires_fix_max_steps, step: 1, min: Constants::HIRES_FIX_STEPS_RANGE.begin, max: Constants::HIRES_FIX_STEPS_RANGE.end, class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :hires_fix_max_steps, class: "invalid-feedback" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.label :hires_fix_min_denoising %>
      <%= f.number_field :hires_fix_min_denoising, step: 0.01, min: Constants::HIRES_FIX_DENOISING_RANGE.begin, max: Constants::HIRES_FIX_DENOISING_RANGE.end, class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :hires_fix_min_denoising, class: "invalid-feedback" %>
    </div>
    <div class="col">
      <%= f.label :hires_fix_max_denoising %>
      <%= f.number_field :hires_fix_max_denoising, step: 0.01, min: Constants::HIRES_FIX_DENOISING_RANGE.begin, max: Constants::HIRES_FIX_DENOISING_RANGE.end, class: "form-control", class_for_error: "is-invalid" %>
      <%= f.error_message :hires_fix_max_denoising, class: "invalid-feedback" %>
    </div>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to "Discard & back", back_path, class: "btn btn-link" %>
<% end %>
