<div class="row align-items-center justify-content-between g-3 mb-3">
  <div class="col-12 col-md-auto">
    <h2 class="mb-0">Task #<%= @prompt_task.id %></h2>
  </div>
  <div class="col-12 col-md-auto d-flex">
    <%- if @prompt_task.pending? %>
      <%= button_to submit_dashboard_prompt_task_path(@prompt_task), method: :patch, class: "btn btn-primary px-3 px-sm-5 me-2" do %>
        <span class="d-none d-sm-inline">
          Run
        </span>
      <% end %>
      <%= link_to edit_dashboard_prompt_task_path(@prompt_task), class: "btn btn-outline-primary px-3 px-sm-5 me-2" do %>
        <span class="d-none d-sm-inline">
          Edit
        </span>
      <% end %>
    <% end -%>

    <div>
      <button class="btn px-3 btn-outline-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="true" data-bs-reference="parent">
        <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end">
        <li>
          <%= button_to "Delete", dashboard_prompt_task_path(@prompt_task), method: :delete, class: "dropdown-item text-danger" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<dl class="row mb-3">
  <dt class="col-sm-3">
    Status
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.status %>
  </dd>

  <%- unless @prompt_task.pending? %>
    <%- if @prompt_task.submitting_at.present? %>
      <dt class="col-sm-3">
        Submitting at
      </dt>
      <dd class="col-sm-9">
        <%= time_tag @prompt_task.submitting_at %>
      </dd>
    <% end -%>
    <%- if @prompt_task.submitted_at.present? %>
      <dt class="col-sm-3">
        Submitted at
      </dt>
      <dd class="col-sm-9">
        <%= time_tag @prompt_task.submitted_at %>
      </dd>
    <% end -%>
    <%- if @prompt_task.processing_at.present? %>
      <dt class="col-sm-3">
        Processing at
      </dt>
      <dd class="col-sm-9">
        <%= time_tag @prompt_task.processing_at %>
      </dd>
    <% end -%>
    <%- if @prompt_task.processed_at.present? %>
      <dt class="col-sm-3">
        Processed at
      </dt>
      <dd class="col-sm-9">
        <%= time_tag @prompt_task.processed_at %>
      </dd>
    <% end -%>
    <%- if @prompt_task.discarded_at.present? %>
      <dt class="col-sm-3">
        Discarded at
      </dt>
      <dd class="col-sm-9">
        <%= time_tag @prompt_task.discarded_at %>
      </dd>
    <% end -%>

    <%- if @prompt_task.generated_proof_url.present? %>
      <dt class="col-sm-3">
        Metadata
      </dt>
      <dd class="col-sm-9">
        <%= link_to @prompt_task.generated_proof_url, @prompt_task.generated_proof_url, target: "_blank" %>
      </dd>
    <% end %>
    <%- if @prompt_task.generated_image_url.present? %>
      <dt class="col-sm-3">
        Image
      </dt>
      <dd class="col-sm-9">
        <%= image_tag @prompt_task.generated_image_url %>
      </dd>
    <% end %>
  <% end -%>
</dl>

<hr />

<dl class="row mb-3">
  <dt class="col-sm-3">
    Prompt
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.prompt %>
  </dd>

  <dt class="col-sm-3">
    Negative prompt
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.negative_prompt %>
  </dd>

  <dt class="col-sm-3">
    SD model
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.sd_model_name %>
  </dd>

  <dt class="col-sm-3">
    Sampler
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.sampler_name %>
  </dd>

  <dt class="col-sm-3">
    Width x Height
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.width %> x <%= @prompt_task.height %>
  </dd>

  <dt class="col-sm-3">
    Seed
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.seed %>
  </dd>

  <dt class="col-sm-3">
    Steps
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.steps %>
  </dd>

  <dt class="col-sm-3">
    CFG scale
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.cfg_scale %>
  </dd>

  <dt class="col-sm-3">
    Clip skip
  </dt>
  <dd class="col-sm-9">
    <%= @prompt_task.clip_skip %>
  </dd>

  <%- if @prompt_task.hires_fix? %>
    <dt class="col-sm-3">
      Hires. upscaler
    </dt>
    <dd class="col-sm-9">
      <%= @prompt_task.hires_fix_upscaler_name %>
    </dd>

    <dt class="col-sm-3">
      Hires. upscale
    </dt>
    <dd class="col-sm-9">
      <%= @prompt_task.hires_fix_upscale %>
    </dd>

    <dt class="col-sm-3">
      Hires. steps
    </dt>
    <dd class="col-sm-9">
      <%= @prompt_task.hires_fix_steps %>
    </dd>

    <dt class="col-sm-3">
      Hires. denoising
    </dt>
    <dd class="col-sm-9">
      <%= @prompt_task.hires_fix_denoising %>
    </dd>
  <% end -%>
</dl>
