<h2>
  <%= t(".title") %>
</h2>

<p class="lead">
  <%= t(".description") %>
</p>

<%= form_with(model: @user, url: account_password_path, html: {method: :put}, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :current_password, t(".form.current_password") %>
    <%= f.password_field :current_password, id: "user_current_password", autocomplete: "off", required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :current_password, class: "invalid-feedback" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, t(".form.new_password") %>
    <%= f.password_field :password, id: "user_password", autocomplete: "new-password", required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :password, class: "invalid-feedback" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, t(".form.confirm_new_password") %>
    <%= f.password_field :password_confirmation, id: "user_password_confirmation", autocomplete: "new-password", required: "required", class: "form-control", class_for_error: "is-invalid" %>
    <%= f.error_message :password_confirmation, class: "invalid-feedback" %>
  </div>

  <div class="d-grid gap-2 mb-3">
    <%= f.submit t(".form.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
