<div class="row justify-content-center mb-3">
  <div class="col-md-8 col-lg-6">
    <div class="mx-4 p-4">
      <%= form_with(model: resource, as: resource_name, url: user_invitation_path, method: :put, local: true) do |f| %>
        <%= f.hidden_field :invitation_token, readonly: true %>

        <div class="mb-3">
          <%= f.label :password, t(".password") %>
          <%= f.password_field :password, id: "user_password", autocomplete: "new-password", required: "required", class: "form-control", class_for_error: "is-invalid" %>
          <%= f.error_message :password, class: "invalid-feedback" %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, t(".confirm_password") %>
          <%= f.password_field :password_confirmation, id: "user_password_confirmation", autocomplete: "new-password", required: "required", class: "form-control", class_for_error: "is-invalid" %>
          <%= f.error_message :password_confirmation, class: "invalid-feedback" %>
        </div>

        <div class="d-grid gap-2 mb-3">
          <%= f.submit t(".submit"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
