<div class="row align-items-center justify-content-between g-3 mb-3">
  <div class="col-12 col-md-auto">
    <h2 class="mb-0"><%= @prompting_plan.name %></h2>
  </div>
  <div class="col-12 col-md-auto d-flex">
    <%= button_to dashboard_prompting_tasks_path(prompting_plan_id: @prompting_plan.id), class: "btn btn-primary px-3 px-sm-5 me-2" do %>
      <span class="d-none d-sm-inline">
        New task
      </span>
    <% end %>
    <%= link_to edit_dashboard_prompting_plan_path(@prompting_plan), class: "btn btn-outline-primary px-3 px-sm-5 me-2" do %>
      <span class="d-none d-sm-inline">
        Edit
      </span>
    <% end %>
    <div>
      <button class="btn px-3 btn-outline-secondary" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="true" data-bs-reference="parent">
        <i class="bi bi-three-dots"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end">
        <li>
          <%= button_to "Delete", dashboard_prompting_plan_path(@prompting_plan), method: :delete, class: "dropdown-item text-danger" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<dl class="row mb-3">
  <dt class="col-sm-3">
    SD model
  </dt>
  <dd class="col-sm-9">
    <%= @prompting_plan.sd_model_name %>
  </dd>

  <dt class="col-sm-3">
    Sampler
  </dt>
  <dd class="col-sm-9">
    <%= @prompting_plan.sampler_name %>
  </dd>

  <dt class="col-sm-3">
    Width x Height
  </dt>
  <dd class="col-sm-9">
    <%= @prompting_plan.width %> x <%= @prompting_plan.height %>
  </dd>

  <dt class="col-sm-3">
    Steps
  </dt>
  <dd class="col-sm-9">
    <%- if @prompting_plan.min_steps == @prompting_plan.max_steps %>
      <%= @prompting_plan.min_steps %>
    <% else %>
      <%= @prompting_plan.min_steps %> ~ <%= @prompting_plan.max_steps %>
    <% end -%>
  </dd>

  <dt class="col-sm-3">
    CFG scale
  </dt>
  <dd class="col-sm-9">
    <%- if @prompting_plan.min_cfg_scale == @prompting_plan.max_cfg_scale %>
      <%= @prompting_plan.min_cfg_scale %>
    <% else %>
      <%= @prompting_plan.min_cfg_scale %> ~ <%= @prompting_plan.max_cfg_scale %>
    <% end -%>
  </dd>

  <%- if @prompting_plan.hires_fix? %>
    <dt class="col-sm-3">
      Hires. upscaler
    </dt>
    <dd class="col-sm-9">
      <%= @prompting_plan.hires_fix_upscaler_name %>
    </dd>

    <dt class="col-sm-3">
      Hires. upscale
    </dt>
    <dd class="col-sm-9">
      <%= @prompting_plan.hires_fix_upscale %>
    </dd>

    <dt class="col-sm-3">
      Hires. steps
    </dt>
    <dd class="col-sm-9">
      <%- if @prompting_plan.hires_fix_min_steps == @prompting_plan.hires_fix_max_steps %>
        <%= @prompting_plan.hires_fix_min_steps %>
      <% else %>
        <%= @prompting_plan.hires_fix_min_steps %> ~ <%= @prompting_plan.hires_fix_max_steps %>
      <% end -%>
    </dd>

    <dt class="col-sm-3">
      Hires. denoising
    </dt>
    <dd class="col-sm-9">
      <%- if @prompting_plan.hires_fix_min_denoising == @prompting_plan.hires_fix_max_denoising %>
        <%= @prompting_plan.hires_fix_min_denoising %>
      <% else %>
        <%= @prompting_plan.hires_fix_min_denoising %> ~ <%= @prompting_plan.hires_fix_max_denoising %>
      <% end -%>
    </dd>
  <% end -%>
</dl>

<div>Add vocabulary</div>
<%= render "inline_vocabulary_element_form", prompting_plan: @prompting_plan, prompt_element: VocabularyPromptElement.new %>
<div>Add glossary</div>
<%= render "inline_glossary_element_form", prompting_plan: @prompting_plan, prompt_element: VocabularyPromptElement.new %>

<table class="table align-middle">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @prompt_elements.each do |prompt_element| %>
    <tr>
      <th scope="row">
        <%= prompt_element.negative? ? "-" : "+" %>
      </th>
      <td>
        <%- if prompt_element.class == VocabularyPromptElement %>
          V: <%= prompt_element.text %>
        <% else %>
          G: <%= prompt_element.glossary.name %> (freq. <%= prompt_element.frequency %>)
        <% end -%>
      </td>
      <td>
        <%= button_to "Delete", dashboard_prompting_plan_prompt_element_path(@prompting_plan, prompt_element), method: :delete, class: "btn btn-outline-danger btn-sm" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
