<%- content_for(:html_class, "h-100") %>
<%- content_for(:body_class, "d-flex flex-column h-100") %>
<%- content_for :content do %>
  <main class="flex-shrink-0">
    <%= render "layouts/application/header" %>

    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
      <%= render "layouts/application/sidebar" %>

      <main class="bd-main order-1">
        <%= render "layouts/application/notice" %>

        <div class="bd-content ps-lg-2">
          <%= yield %>
        </div>
      </main>
    </div>
  </main>

  <%= render "layouts/application/footer" %>
<% end -%>

<%= render template: "layouts/base" %>
