<!DOCTYPE html>
<html class="h-100">
<head>
  <%= render "_shared/head" %>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <%= render "_shared/navbar" %>
  <%= render "_shared/notices" %>

  <div class="container mt-4 mx-auto">
    <%= yield %>
  </div>
</main>

<%= render "_shared/footer" %>
</body>
</html>
