<%- content_for(:html_class, "h-100") %>
<%- content_for(:body_class, "d-flex flex-column h-100") %>
<%- content_for :content do %>
  <main class="flex-shrink-0">
    <%= render "_shared/navbar" %>
    <%= render "_shared/notices" %>

    <div class="container mt-4 mx-auto">
      <%= yield %>
    </div>
  </main>

  <%= render "_shared/footer" %>
<% end -%>

<%= render template: "layouts/base" %>
